// A appliquer sur une div pour verrifer si la page est bien reliée.
.test {
  background-color: red;
  height :100px;
  aspect-ratio: 1/1;
}

//* Reset *
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  //overflow-x: hidden;.

}
body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: scroll;
  font-family: "Space Mono", monospace;
  letter-spacing: -0.045em;
  color: $darkNavy;
}

.container {
  width: 100vw;
}

.container > :not(#{$blackList}) {
  padding: 0 8.533vw;
}

.overflowNone {
  overflow: hidden;
}