@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.test {
  background-color: red;
  height: 100px;
  aspect-ratio: 1/1;
}

.none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
}

.container > :not(.top, .superNav, .logo) {
  padding: 0 8.533vw;
}

.overflowNone {
  overflow: hidden;
}

body {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.045em;
  color: #495567;
}

.white {
  color: white;
}

.title1 {
  color: white;
}

.title3 {
  font-weight: 700;
}

.paragraph {
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
}

.footerLink {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: capitalize;
  text-decoration: none;
  color: unset;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.img {
  height: 100%;
  object-fit: cover;
}

.round {
  border-radius: 50%;
  width: 82.933vw;
  max-width: 445px;
  aspect-ratio: 1/1;
  background-color: #FCB72B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  width: 25.6vw;
  max-width: 96px;
}

.small {
  width: 14.933vw;
  max-width: 96px;
}

.button {
  background-color: #FCB72B;
  display: block;
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

button {
  text-decoration: none;
  background-color: unset;
  font-family: unset;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.button:hover {
  background-color: #FFF4DF;
}

.button:active {
  background-color: unset;
  border: 3px solid #FCB72B;
}
.button:active button {
  color: #FCB72B;
}

@keyframes show {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    height: auto;
    opacity: 1;
  }
  50% {
    height: 50%;
    opacity: 0.5;
  }
  100% {
    height: 0; /* Hauteur à laquelle le bloc doit rétrécir pour disparaitre */
    opacity: 0;
  }
}
.footer {
  background-color: darkslateblue;
  margin-top: 32vw;
}
.footer .callToAction {
  background-color: #495567;
  padding: 23.467vw 8.533vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10.667vw;
}
.footer .store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.82px;
}
.footer .socials {
  background-color: #333A44;
  padding: 17.067vw 0 23.476vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .logo {
  width: 28.752vw;
  margin-bottom: 11.051vw;
}
.footer .internLink {
  display: flex;
  flex-direction: column;
  gap: 4.267vw;
  text-align: center;
}
.footer .externLink {
  margin-top: 22.667vw;
  width: 32vw;
  display: flex;
  justify-content: space-between;
}

header {
  height: 17.067vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.superNav {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: calc(100vh - 17.067vw);
  grid-column: 1/span 3;
  grid-row: 2;
  position: absolute;
  left: -1200px;
}

.nav {
  position: absolute;
  display: flex;
  height: 100%;
  width: 68.267vw;
  padding: 10.667vw 8.533vw 8.533vw 8.533vw;
  background-color: #495567;
  flex-direction: column;
  justify-content: space-between;
}
.nav a {
  font-size: 1.125rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.nav ul {
  display: flex;
  flex-direction: column;
  gap: 5.333vw;
}

.logo {
  width: 17.067vw;
  justify-self: center;
  grid-column: 2;
  grid-row: 1;
}

.burger {
  grid-column: 1;
  grid-row: 1;
  width: 5.067vw;
  height: 4.267vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line {
  width: 19.69px;
  height: 3.69px;
  background-color: #FCB72B;
  transition: all 0.3s ease;
}

.line::before, .line::after {
  content: "";
  position: absolute;
  width: 19.69px;
  height: 3.69px;
  background-color: #FCB72B;
  transition: all 0.5s ease;
}

.line::before {
  transform: translateY(6.15px);
}

.line::after {
  transform: translateY(-6.15px);
}

.active .line {
  background-color: white;
}
.active .line::before {
  transform: translateY(0px) rotate(-45deg);
}
.active .line::after {
  transform: translateY(0px) rotate(45deg);
}

.switch {
  left: 0px;
  top: 17.067vw;
  transition: all 0.35s ease;
}

.hide, .show {
  animation: all 0.35s ease;
}

.hide {
  animation-name: hide;
  height: 0; /* Hauteur à laquelle le bloc doit rétrécir pour disparaitre */
  opacity: 0;
}

.show {
  animation-name: show;
  height: auto; /* Hauteur finale */
  opacity: 1;
}

.article {
  width: 100%;
  background-color: #F2F5F9;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.article .paragraph {
  color: #495567;
}

.arrow {
  height: 8px;
  aspect-ratio: 1/1;
  border: 3px solid #FCB72B;
  transform: rotate(-45deg);
}

.up {
  border-bottom: none;
  border-left: none;
}

.down {
  border-top: none;
  border-right: none;
}

.arrow:hover {
  border-color: #939CAA;
}

.arrow:active {
  border-color: #F2F5F9;
}

.articleTitre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.933vw;
}
.articleTitre .title6 {
  width: 58.4vw;
}

.job {
  gap: 2vw;
  margin: 0;
}
.job .button {
  margin-top: 5px;
  width: 100%;
}

.top {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}

.home {
  height: 173.333vw;
  background-color: #FCB72B;
}

.secondary {
  height: 26.042vw;
  background-color: #FCB72B;
}

.topBackground {
  height: 100%;
  width: 100%;
  object-position: center center;
  grid-column: 1/span 3;
  grid-row: 1/span 3;
}

.topColor {
  grid-column: 1/span 3;
  grid-row: 1/span 3;
  background-color: rgba(47, 59, 89, 0.8);
}

.topContent {
  grid-column: 1/span 3;
  grid-row: 1/span 3;
  color: white;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  text-align: center;
}
.topContent p {
  color: white;
}

.bottomCentered {
  object-position: bottom center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12vw;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30vw;
}
.main .worldButton {
  width: 100%;
  gap: 4vw;
  user-select: none;
}
.main .worldButton div {
  background-color: #FFF4DF;
  width: 100%;
  height: 19.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.containerRound {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  margin-top: 20px;
}
.containerRound .bigRound {
  grid-row: 1/4;
  grid-column: 1;
  justify-self: center;
}
.containerRound .smallRound {
  grid-row: 3/5;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.sectionArticle {
  gap: 4vw;
}
.sectionArticle .title3mobile {
  padding: 25px 0;
}

.sousSection .paragraph {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .title1 {
    /*// title 1 mais pas mobile
      font-size: 3.5rem;
      line-height: 1em;
    letter-spacing: -0.045em;*/
    font-size: 2.5rem;
    line-height: 1.2em;
    letter-spacing: -0.045em;
  }
  .title2 {
    /*  // title 2 mais pas mobile
      font-size: 3rem;
      line-height: 1em;*/
    font-size: 2rem;
    line-height: 1em;
    letter-spacing: -0.045em;
  }
  .title3 {
    /*// title 3 mais pas mobile
    font-size: 2.500rem;
    line-height: 1.200em;
    letter-spacing: -0.045em;*/
    font-size: 1.5rem;
    line-height: 1.2em;
    letter-spacing: -0.045em;
  }
  .title4 {
    /*  //title 4 mais pas mobile
      font-size: 1.500rem;
      line-height: 1.167em;
      letter-spacing: -0.045em;*/
    font-size: 1.125rem;
    line-height: 1.333em;
    letter-spacing: -0.045em;
  }
  .paragraph {
    font-size: 0.938rem;
    line-height: 1.667em;
    letter-spacing: 0;
  }
}

/*# sourceMappingURL=style.css.map */
