@charset "UTF-8";
.test {
  background-color: red;
  height: 100px;
  aspect-ratio: 1/1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: scroll;
  font-family: "Space Mono", monospace;
  letter-spacing: -0.045em;
  color: #495567;
}

.container {
  width: 100vw;
  padding: 0 8.533vw;
}

.h1 {
  font-size: 3.5rem;
  line-height: 1em;
  color: white;
}

.h2 {
  font-size: 2.5rem;
  line-height: 1em;
}

.h3 {
  font-size: 2.5rem;
  line-height: 1.2em;
}

.h4 {
  font-size: 1.5rem;
  line-height: 1.167em;
}

.p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.938rem;
  line-height: 1.667em;
  color: #939CAA;
  letter-spacing: 0;
}

.img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.round {
  border-radius: 50%;
  width: 82.933vw;
  max-width: 445px;
  aspect-ratio: 1/1;
  background-color: #FCB72B;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium {
  width: 25.6vw;
  max-width: 96px;
}

.small {
  width: 14.933vw;
  max-width: 96px;
}

.button {
  background-color: #FCB72B;
  display: block;
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

button {
  text-decoration: none;
  background-color: unset;
  font-family: unset;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.footer {
  background-color: #333A44;
}

header {
  height: 17.067vw;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
header .nav {
  position: absolute;
  display: none;
  height: calc(100vh - 17.067vw);
  width: 68.267vw;
  top: 17.067vw;
  left: 0;
  padding: 10.667vw 8.533vw 8.533vw 8.533vw;
  background-color: #495567;
  flex-direction: column;
  justify-content: space-between;
}
header .nav a {
  font-size: 1.125rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
header .nav ul {
  display: flex;
  flex-direction: column;
  gap: 5.333vw;
}
header .logo {
  width: 17.067vw;
  justify-self: center;
}
header .burger {
  height: 4.267vw;
  width: 5.067vw;
  justify-self: start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header .burger .line {
  height: 20%;
  background-color: #FCB72B;
}

article {
  background-color: #F2F5F9;
  margin: 50px 0; /* a mettre en vw */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
article .p {
  color: #495567;
}

.topMain {
  height: 42.667vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute; /* Position absolue pour placer l'image derrière les autres éléments */
  top: -120%;
  right: -20%;
  width: 150%; /* La largeur de l'image est égale à celle de la div */ /* La hauteur de l'image est égale à celle de la div */
  z-index: -1;
}/*# sourceMappingURL=style.css.map */