.button {
    background-color: $yellow;
    display: block;
    min-width: 180px;
    width: 48.000vw;
    min-height: 53px;
    height: 14.133vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    //transition: background-color 0.3s, color 0.3s;
}
button {
    text-decoration: none;
    background-color: unset;
    font-family: unset;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}