
//Tablet // Top main
.topRoundMiddle {
  background-image: url("../assets/svg/roundDeco.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right center;
}
.topRoundHome {
  background-image: url("../assets/svg/roundDeco.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right 90%;
}