.img {
  height: 100%;
  object-fit: cover;
}

.round {
  border-radius: 50%;
  width: 82.933vw;
  max-width: 445px;
  aspect-ratio: 1/1;
  background-color: $yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}