.large {
  width: 31.250vw;
  height: 31.250vw;
}

.medium {
  width: 31.250vw;
  height: 31.250vw;
  max-width: 240px;
}
.small {
  width: 12.500vw;
  max-width: 96px;
}

.smallRound {
  width: 12.500vw;
  height: 12.500vw;
}
