 <!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/include.js"> </script>
    <script src="../scripts/onClick.js"></script>
    <!-- Font -->
</head>
<body>
    <header class="header container">
        <script> include('nav.html','header');</script>
    </header>


    <main class="main container">
        <section class="topMain">
            <img src="../assets/png/background-about-careers-location.png" alt="background" class="img">
            <div class="topMainColor"></div>
            <h1 class="title1">About</h1>
        </section>

        <section class="section">
            <img src="../assets/png/img-about-1.png" alt="scooter" class="img round">
                <h2 class="title2">Mobility for the digital era</h2>
                    <p class="paragraph">We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride.</p>
        </section>

        <section class="section">
            <img src="../assets/png/img-about-2.png" alt="scooter" class="img round">
                <h2 class="title2">Better urban living</h2>
                    <p class="p">We’re helping connect cities and bring people closer together. Our scooters are also fully-electric and we offset the minimal carbon footprint for each ride.</p>
        </section>

        <section class="section">
            <h2 class="title2">Our values</h2>
            <section class="sousSection">
                <img src="../assets/png/img-careers-2.png" alt="scooter" class="img round">
                    <h3 class="title3 round medium">01</h3>
                        <h2 class="title2">Our tech</h2>
                            <p class="paragraph">We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
            </section>

            <section class="sousSection">
                <img src="../assets/png/img-careers-3.png" alt="scooter" class="img round">
                <div class="round medium">
                    <h3 class="title3">02</h3>
                </div>
                <h2 class="title2">Our integrity</h2>
                            <p class="paragraph">We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
            </section>

            <section class="sousSection">
                <img src="../assets/png/img-about-5.png" alt="scooter" class="img round">
                    <h3 class="title3 round medium">03</h3>
                        <h2 class="title2">Pick your scooter</h2>
                            <p class="paragraph">We show the most important info for the scooters closest to you. So you know how much charge they have left and can see roughly how much it will cost.</p>
            </section>
        </section>

        <section class="section">
            <h2 class="title2">FAQs</h2>
                <h3 class="title3">How it works</h3>
                    <article class="article">
                        <h4 class="title4">How do I download the app?</h4>
                            <p class="paragraph">To download the Scoot app, you can search “Scoot” in both the App and Google Play stores. An even simpler way to do it would be to click the relevant link at the bottom of this page and you’ll be re-directed to the correct page.</p>
                    </article>

                    <article class="article">
                        <h4 class="title4">Can I find a nearby Scoots?</h4>
                    </article>

                    <article class="article">
                        <h4 class="title4">Do I need a license to ride?</h4>
                    </article>

                <h3 class="title3">Safe driving</h3>
                    <article class="article">
                        <h4 class="title4">Should I wear a helmet?</h4>
                            <p class="paragraph">Yes, please do! All cities have different laws. But we strongly strongly strongly recommend always wearing a helmet regardless of the local laws. We like you and we want you to be as safe as possible while Scooting.</p>
                    </article>

                    <article class="article">
                        <h4 class="title4">How about the rules & regulations?</h4>
                    </article>

                    <article class="article">
                        <h4 class="title4">What if I damage my Scoot?</h4>
                    </article>

        </section>


    </main>
<footer class="footer container">
    <script> include('footer.html', 'footer');</script>
</footer>
</body>
</html>