<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Careers</title>
    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/include.js"> </script>
    <script src="../scripts/onClick.js"></script>
    <!-- Font -->
</head>
<body>
    <header class="header container">
        <script> include('nav.html','header');</script>
    </header>

    <main class="main container">

        <section id="topSecondary" class="top secondary">
            <img src="../assets/png/background-about-careers-location.png" alt="background" class="topBackground img bottomCentered">
                <div class="topColor topRoundMiddle"></div>
                    <h1 class="title1 topContent">Careers</h1>
        </section>


        <section class="section">
            <img src="../assets/png/img-careers-1.png" alt="#" class="img round">
            <h2 class="title2">Care to join our mission?</h2>
            <p class="paragraph">We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our mission to provide clean, accessible transport to improve urban living we want to hear from you!</p>
            <a href="#" class="button"><button>Say Hello</button></a>
        </section>

        <section class="section">
            
            <h2 class="title2">Why join us?</h2>

            <section class="sousSection">
                <div class="containerRound">
                    <img src="../assets/png/img-careers-2.png" alt="#" class="img round large bigRound">
                    <h3 class="title3 round medium smallRound">01</h3>
                </div>
                <h3 class="title3">Our tech</h3>
                <p class="paragraph">We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
            </section>

            <section class="sousSection">
                <div class="containerRound">
                    <img src="../assets/png/img-careers-3.png" alt="#" class="img round large bigRound">
                    <h3 class="title3 round medium smallRound">02</h3>
                </div>
                <h3 class="title3">Our integrity</h3>
                <p class="paragraph">We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
            </section>

            <section class="sousSection">
                <div class="containerRound">
                    <img src="../assets/png/img-about-5.png" alt="#" class="img round large bigRound">
                    <h3 class="title3 round medium smallRound">03</h3>
                </div>  
                <h3 class="title3">Our community</h3>
                <p class="paragraph">We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
            </section>
        </section>

        <section class="section sectionArticle">
            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">General Manager</h4>
                    <p class="paragraph">Jakarta, Indonesia</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>

            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">UI/UX Designer</h4>
                    <p class="paragraph">Yokohama, Japan</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>

            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">Blog Content Copywriter</h4>
                    <p class="paragraph jobParagraph">New York, United States</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>

            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">Graphic Designer</h4>
                    <p class="paragraph">New York, United States</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>

            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">Fleet Supervisor</h4>
                    <p class="paragraph">Jakarta, Indonesia</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>

            <article class="article job">
                <div class="textJob">
                    <h4 class="title4">UX Analyst</h4>
                    <p class="paragraph">London, United Kingdom</p>
                </div>
                
                <a href="#" class="button"><button>Apply</button></a>
            </article>
        </section>
    </main>

    <footer class="footer container">
        <script> include('footer.html', 'footer');</script>
    </footer>
    
</body>
</html>
