<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Careers</title>

    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="../scripts/include.js"> </script>
    <!-- Font -->
    <script> includeFonts('fonts');</script>
</head>
<body>
    <div class="container">
        <header class="header">
            <script> include('nav.html','header');</script>
        </header>
    
        <main>
            <section>
                <h1 class="h1">Careers</h1>
            </section>
    
            <section>
                <img src="../assets/png/img-careers-1.png" alt="#" class="img round">
                <h2 class="h2">Care to join our mission?</h2>
                <p class="p">We’re always looking for ambitious individuals to help us on our journey. If you’re passionate about our mission to provide clean, accessible transport to improve urban living we want to hear from you!</p>
                <a href="#" class="button"><button>Say Hello</button></a>
            </section>
    
            <section>
                <h2 class="h2">Why join us?</h2>
    
                <section>
                    <img src="../assets/png/img-careers-2.png" alt="#" class="img round">
                    <div class="round medium">
                        <h3 class="h3">01</h3>
                    </div>

                    <h3 class="h3">Our tech</h3>
                    <p>We’re using cutting edge technology to drive accessible urban transportation forward. Our fully electric scooters are a joy to ride!</p>
                </section>
    
                <section>
                    <img src="../assets/png/img-careers-3.png" alt="#" class="img round">
                    <div class="round medium">
                        <h3 class="h3">02</h3>
                    </div>
                    <h3 class="h3">Our integrity</h3>
                    <p>We are fully committed to deliver a great yet safe, sustainable micro-mobility experience in every city we serve.</p>
                </section>
    
                <section>
                   <img src="../assets/png/img-about-5.png" alt="#" class="img round">
                    <div class="round medium">
                        <h3 class="h3">03</h3>
                    </div>
                    <h3 class="h3">Our community</h3>
                    <p>We support every community we serve. All workers are paid a living wage based on their location and are Scoot employees.</p>
                </section>
            </section>
    
            <section>
                <article>
                    <h1 class="h3">General Manager</h1>
                    <p class="p">Jakarta, Indonesia</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
    
                <article>
                    <h1 class="h3">UI/UX Designer</h1>
                    <p class="p">Yokohama, Japan</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
    
                <article>
                    <h1 class="h3">Blog Content Copywriter</h1>
                    <p class="p">New York, United States</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
    
                <article>
                    <h1 class="h3">Graphic Designer</h1>
                    <p class="p">New York, United States</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
    
                <article>
                    <h1 class="h3">Fleet Supervisor</h1>
                    <p class="p">Jakarta, Indonesia</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
    
                <article>
                    <h1 class="h3">UX Analyst</h1>
                    <p class="p">London, United Kingdom</p>
                    <a href="#" class="button"><button>Apply</button></a>
                </article>
            </section>
        </main>

    </div>
    <footer class="footer container">
        <script> include('footer.html', 'footer');</script>
    </footer>
    
</body>
</html>
