<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/include.js"> </script>
    <script src="../scripts/onClick.js"></script>
    <!-- Font -->
</head>
<body>
    <header class="header container">
        <script> include('nav.html','header');</script>
    </header>

    <main class="main container">
        <section class="top home">
            <img src="../assets/png/background-home.png" alt="background" class="img topBackground">
                <div class="topColor"></div>

                    <div class="topContent">
                        <h1 class ="title1">Scooter sharing made simple</h1>
                            <p class="paragraph">Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient locations in each of our cities. Use our app to locate the nearest bike, unlock it with a tap, and you’re away!</p>
                                <a href="#" class="button"><button class="">Get scootin</button></a>
                    </div>
        </section>

        <section class="section topHome">
            <section class="section">
                <img src="../assets/svg/home-icon-1.svg" alt="scooter" class="img round small">
                <div class="textTopHome">
                    <h4 class="title4">Locate with app</h4>
                    <p class="paragraph">Use the app to find the nearest scooter to you. We are continuously placing scooters in the areas with most demand, so one should never be too far away.</p>
                </div>
            </section>

            <section class="section">
                <img src="../assets/svg/home-icon-2.svg" alt="scooter" class="img round small">
                <div class="textTopHome">
                    <h4 class="title4">Pick your scooter</h4>
                    <p class="paragraph">We show the most important info for the scooters closest to you. So you know how much charge they have left and can see roughly how much it will cost.</p>
                </div>    
            </section>

            <section class="section">
                <img src="../assets/svg/home-icon-3.svg" alt="scooter" class="img round small">
                <div class="textTopHome">
                    <h4 class="title4">Enjoy the ride</h4>
                    <p class="paragraph">Scan the QR code and the bike will unlock. Retract the cable lock, put on a helmet, and you’re off! Always lock bikes away from walkways and accessibility ramps.</p>
                </div>
            </section>
        </section>

        

        <section class="section">
            <img  src="../assets/png/img-home-1.png" alt="scooter" class="img round">
                <h2 class="title2">Easy to use riding telemetry</h2>
                    <p class="paragraph">The Scoot app is available with riding telemetry. This means it can show you your average speed, how long you've been using the scooter, your traveling distance, and many more things all in an easy to use app.</p>
                        <a href="#" class="button"><button class="">Learn More</button></a>
        </section>

        <section class="section">
            <img src="../assets/png/img-home-2.png" alt="scooter" class="img round">
                <h2 class="title2">Coming to a city near you</h2>
                    <p class="paragraph">Scoot is available in 4 major cities so far. We’re expanding rapidly, so be sure to let us know if you want to see us in your hometown. We’re aiming to let our scooters loose on 23 cities over the coming year.</p>
                         <a href="#" class="button"><button class="">Learn More</button></a>
        </section>
        <section class="section">
            <img src="../assets/png/img-home-3.png" alt="scooter" class="img round">
                <h2 class="title2">Zero hassle payments</h2>
                    <p class="paragraph">Our payment is as easy as one two three. We accept most credit cards and debit cards. You can also link your PayPal account inside the app. Need to pay later? No worries! You can defer payment for up to a month.</p>
                        <a href="#" class="button"><button class="">Learn More</button></a>
        </section>
    </main>

    <footer class="footer container">
        <script> include('footer.html', 'footer');</script>
    </footer>
</body>
</html>