<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/include.js"> </script>
    <script src="../scripts/onClick.js"></script>
    <!-- Font -->
</head>
<body>
    <div class="container">
        <header class="header">
            <script> include('nav.html','header');</script>
        </header>
    
        <main>
            
            <section>
                <h1 class="h1">Locations</h1>
            </section>
    
            <section>
                <img src="../assets/png/worldmap.png" alt="#">
                <div class="spots"></div>
                <div class="spots"></div>
                <div class="spots"></div>
                <div class="spots"></div>
    
                <section>
                    <div>New York</div>
                    <div>London</div>
                    <div>Jakarta</div>
                    <div>Yokohama</div>
                </section>
    
                <section>
                    <h2 class="h2">Your City Not Listed?</h2>
                    <p class="p">If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social.</p>
                    <a href="#" class="button"><button>Message Us</button></a>
                </section>
            </section>
        </main>

    </div>
    <footer class="footer container">
        <script> include('footer.html', 'footer');</script>
    </footer>
</body>
</html>