<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Css -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/include.js"> </script>
    <script src="../scripts/onClick.js"></script>
    <!-- Font -->
</head>
<body>
    <header class="header container">
        <script> include('nav.html','header');</script>
    </header>

    <main class="main container">

        <section class="top secondary">
            <img src="../assets/png/background-about-careers-location.png" alt="background" class="topBackground img bottomCentered">
                <div class="topColor"></div>
                    <h1 class="title3 topContent">Locations</h1>
        </section>

        <section class="section">
            <img src="../assets/svg/worldmap.svg" alt="#">

            <section class="section worldButton">
                <div class="title4">New York</div>
                <div class="title4">London</div>
                <div class="title4">Jakarta</div>
                <div class="title4">Yokohama</div>
            </section>

            <section class="section">
                <h2 class="title2mobile">Your City Not Listed?</h2>
                <p class="paragraph">If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and plan launches based on demand. Feel free to message us by clicking the link or messaging us on social.</p>
                <a href="#" class="button"><button>Message Us</button></a>
            </section>
        </section>
    </main>
    <footer class="footer container">
        <script> include('footer.html', 'footer');</script>
    </footer>
</body>
</html>