.article {
  background-color: $snow;
  margin: 50px 0; /* a mettre en vw */
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .title6 {
    text-align: left;
  }
  .paragraph {
    color: $darkNavy;
    text-align: left;
  }
}
.arrow {
  height: 8px;
  aspect-ratio: 1/1;
  border: 3px solid $yellow;
  transform: rotate(-45deg);
}
.up{
  border-bottom: none;
  border-left: none;
}
.down {
  border-top: none;
  border-right: none;
}


.arrow:hover {
  border-color:$dimGrey;
}

.arrow:active {
  border-color: $snow;
}

.aTitre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}