.article {
  width: 100%;
  background-color: $snow;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  .alignLeft {
    text-align: left;
  }
  .paragraph {
    color: $darkNavy;
  }
}
.arrow {
  height: 8px;
  aspect-ratio: 1/1;
  border: 3px solid $yellow;
  transform: rotate(-45deg);
}
.up{
  border-bottom: none;
  border-left: none;
}
.down {
  border-top: none;
  border-right: none;
}


.arrow:hover {
  border-color:$dimGrey;
}

.arrow:active {
  border-color: $snow;
}

.aTitre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job {
  gap: 2vw;
  margin: 0;

  .button {
    margin-top: 5px;
    width: 100%;
  }
}