.home {
    max-height: 45.139vw;
}


//Section

.main {
    gap: 15vw;
}

.topHome {
    display: flex;
    flex-direction: row;
    gap: 2vw;

    .section { 
        gap: 3vw;

        .textTopHome {
            align-items: start;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 4vw;         
        } 
    }

    .img {
        height: unset;
        align-self: start;
    }
}

.sectionGroup1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    gap: 10vw;

    .sectionGroup1Text {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2vw;
        
    }

    .imgLeft, .textLeft {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .imgRight, .textRight{
        grid-column: 2/3;
        justify-self: right;
    }
}


.sectionGroup2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5vw;

    .title2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .sousSection {
        grid-row: 2/3;
    }

    .img {
        width: 240px;
        height: 240px;
    }

}

//Nav

.burger {
    display: none;
}
.header {
    height: 12.500vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.078vw;
}
.nav {
    display: flex;
    align-items: center;
    gap:  12.240vw;
}
.internLink {
    display: flex;
    align-items: center;
    gap: 4.167vw;
}

//Nav + footer

.header {
  height: 6.667vw;
  padding: 0 11.458vw;
}

nav, footer {
    a {
        font-size: 0.938rem;
        line-height: 1.667em;
        color: $dimGrey;
        font-weight: 700;
    }
    a:hover {
        color: $yellow;
    }
    a:active {
        color: $lightYellow;
    }
}