.footer {
  background-color: darkslateblue;
  margin-top: 32.000vw;

  .callToAction {
    background-color: $darkNavy;
  }
  .store {
    display: flex;
    justify-content: center;
    align-items: center;
    gap :12.82px;
  }
}
