header {
    height: 17.067vw;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    nav {
        display: none;    
    }

    .logo {
        width: 17.067vw;
        justify-self: center;
    }

    .burger {
        height: 4.267vw;
        width: 5.067vw;
        justify-self: start;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .line {
            height: 20%;
            background-color: $yellow;
        }

}

}


