.secondary {
    height: 26.042vw;
}


.sectionArticle {
    gap: 2vw;

    .job {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .textJob {
        text-align: left;
    }
}

.section {
    
    gap: 5vw;

    .worldButton {
        display: none;
    }
    .sousSection {
        .paragraph {
            padding: 0 15vw;
        }
    }

    > .paragraph {
        padding: 0 5vw;
    }

}

.medium {
    width: 100px;
    max-width: 96px;
}

.home {
    height: 84.635vw;
}
