
// Article
.secondary {
    height: 26.042vw;
}
.sectionArticle {
    gap: 2vw;

    .job {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .textJob {
        text-align: left;
    }
}

// Section

.section {
    
    gap: 5vw;

    .worldButton {
        display: none;
    }
    .sousSection {
        .paragraph {
            padding: 0 15vw;
        }
    }

    > .paragraph {
        padding: 0 5vw;
    }

}

.medium {
    width: 100px;
    max-width: 96px;
}

.home {
    height: 84.635vw;
}

.topHome {
    display: flex;
    //ajouter padding 15vw gauche et droite
    

    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;

        .textTopHome {
            align-items: start;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 4vw;
            grid-column: 2/3;
        }
        
    }

    .img {
        grid-column: 1/2;
        height: unset;
        align-self: start;
    }
}


// Nav
.burger {
    display: none;
}
.header {
    height: 12.500vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5.078vw;
}
.nav {
    display: flex;
    align-items: center;
    gap:  12.240vw;
        a {
            font-size: 0.938rem;
            line-height: 1.667em;
            color: $dimGrey;
            font-weight: 700;
        }
}
.internLink {
    display: flex;
    align-items: center;
    gap: 4.167vw;
}

//TopMain

.secondary {
    .topContent {
        padding: 0 15px;
        align-items: flex-start;
        text-align: left;
    }
}

.topContent

// Footer

.callToAction {
    padding: 8.533vw 23.467vw ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    gap: 5.208vw;;
    text-align: center;
}

footer h2 {
    width:  54.036vw;
}
.socials {
    height: 12.500vw;
    background-color: $black;
    //padding: 17.067vw;
    display: flex;
    gap : 58px;
    //flex-direction: column;/*/
    justify-content: start;
    align-items: center;
}
.logo {
    width: 14.039vw;
    //margin-bottom: 11.051vw;
}
.externLink {
    //margin-top:  22.667vw;
    width: 15.625vw;
    display: flex;
    justify-content: space-between;
}
.spacer {
    flex: 2
}

