.topMain {
    height: 42.667vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.topMainHome {
    height: 173.333vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #FCB72B;
}

.top {
    //height: 100%;
    //width: 100%;
    grid-column: 1 / span 3;
    grid-row : 1/ span 3;
}

.topMainContent {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    color: white;

    //display: none;
}

.bottomCentered {
    object-position: bottom center;
}

.topMainColor {
    height: 100%;
    //width: 100%;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    background-color: rgba($darkNavy, 0.8);

    //display: none;
}