.topMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 42.667vw;

    .top {
        width: 100%;
        overflow: hidden;
        grid-column: 1 / 4;
        grid-row : 1/ 4;
    }
    .bottomCentered {
        object-position: bottom center;
    }

    .topMainColor {
        height: 100%;
        width: 100%;
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        background-color: rgba($darkNavy, 0.8);
    }

    .title1 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

}

.topMainHome {
    max-height: 173.333vw;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .img {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

