<footer class="footer">
    <h2 class="h2">
        Sign up and Scoot off today
    </h2>

    <button class="button">Available on the AppStore</button>
    <button class="button">Get it on GooglePlay</button>

    <div class="socials">
        <p class="logo">scoot</p>
        <ul class="internLink">
            <li>about</li>
            <li>location</li>
            <li>careers</li>
        </ul>
        <ul class="externLink">
            <!-- Mettre les vrais liens en fin de projet -->
            <li><a href="#"><img src="../assets/icon/facebook-icon.png" alt="facebook logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/twitter-icon.png" alt="twitter logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/instagram-icon.png" alt="instagram logo" class="socialsLogo"></a></li>
        </ul>
    </div>
</footer>
