
    <div class="callToAction">
        <h2 class="title2 white alignCenter">
                Sign up and Scoot off today
        </h2>

        <div class="store">
            <a href="#"><img src="../assets/svg/appStore.svg" alt="appstore" class=""></a>
            <a href="#"><img src="../assets/svg/playStore.svg" alt="playstore" class=""></a>
        </div>
    </div>

    <div class="socials">
        <a href="./home.html"><img src="../assets/svg/logo_blanc.svg" alt="scoot" class="logo"></a>

        <ul class="internLink">
            <li><a href="./about.html" class="footerLink">about</a></li>
            <li><a href="./locations.html" class="footerLink">location</a></li>
            <li><a href="./careers.html" class="footerLink">careers</a></li>
        </ul>

        <ul class="externLink">
            <!-- Mettre les vrais liens en fin de projet -->
            <li><a href="#"><img src="../assets/icon/facebook-icon.png" alt="facebook logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/twitter-icon.png" alt="twitter logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/instagram-icon.png" alt="instagram logo" class="socialsLogo"></a></li>
        </ul>
    </div>


