<footer class="footer">
    <h2 class="h2">
        Sign up and Scoot off today
    </h2>

    <button class="button">Available on the AppStore</button>
    <button class="button">Get it on GooglePlay</button>

    <div class="socials">
        <img src="../assets/svg/logo.svg" alt="scoot" class="logo">
        <ul class="internLink">
            <li><a href="./about.html">about</a></li>
            <li><a href="./locations.html">location</a></li>
            <li><a href="./careers.html">careers</a></li>
        </ul>
        <ul class="externLink">
            <!-- Mettre les vrais liens en fin de projet -->
            <li><a href="#"><img src="../assets/icon/facebook-icon.png" alt="facebook logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/twitter-icon.png" alt="twitter logo" class="socialsLogo"></a></li>
            <li><a href="#"><img src="../assets/icon/instagram-icon.png" alt="instagram logo" class="socialsLogo"></a></li>
        </ul>
    </div>
</footer>


