body {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.045em;
  color: $darkNavy;
}

// Titre
.title1 {
  color: white;
}

.title2 {

}

.title3 {
  font-weight: 700;
}

.title4 {

}

.title5 {
  color: white;
  text-align: center;
}

.title6{

}

// Paragraphe

paragraph {
  font-family: "Lexend Deca", sans-serif;
  color: $dimGrey;
}



.internLinkType {
  font-family: "Space Mono", monospace;
  font-weight : 700;
  letter-spacing: 0;
  text-transform: capitalize;
  text-decoration: none;
  color: unset;
}

.title2mobile {

}

.title3mobile {

}
// Align
.alignLeft {
  text-align: left;
}