body {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.045em;
  color: $darkNavy;
}

.white {
  color: white;
}

// Titre
.title1 {
  color: white;
}

.title2 {

}

.title3 {
  font-weight: 700;
}

.title4 {

}



.title6{

}

// Paragraphe

.paragraph {
  font-family: "Lexend Deca", sans-serif;
  color: $dimGrey;
}

a {
  font-family: "Space Mono", monospace;
}

.footerLink {
  font-family: "Space Mono", monospace;
  font-weight : 700;
  letter-spacing: 0;
  text-transform: capitalize;
  text-decoration: none;
  color: unset;
}

// Align
.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
