// Titre
.title1 {
  font-size: 2.500rem;
  line-height: 1.200em;
  letter-spacing: -0.045em;
}

.title2 {

  font-size: 2rem;
  line-height: 1em;
  letter-spacing: -0.045em;
}

.title3 {
  font-size: 1.5rem;
  line-height: 1.200em;
  letter-spacing: -0.045em;
}

.title4 {
  font-size: 1.125rem;
  line-height: 1.333em;
  letter-spacing: -0.045em;
}