.title1 {
  font-size: 3.5rem;
  line-height: 1em;
  color: white;
}

.title2 {
  font-size: 3rem;
  line-height: 1em;
}

.title3 {
  font-size: 2.500rem;
  line-height: 1.200em;
  letter-spacing: -0.045em;
  font-weight: 700;
}

.title4 {
  font-size: 1.500rem;
  line-height: 1.167em;
  letter-spacing: -0.045em;
}

.paragraph {
  font-size: 0.938rem;
  line-height: 1.667em;
  letter-spacing: 0;
}

.title5{
  font-size: 2.000rem;
  text-align: center;
}

.title6{
  font-size: 1.125rem;
  line-height: 1.333em;
  letter-spacing: -0.045em;
}
.internLinkType {
}

.title2mobile {
  font-size: 2rem;
  line-height: 1em;
}

.title3mobile {
  font-size: 1.5rem;
  line-height: 1.200em;
  letter-spacing: -0.045em;
  font-weight: 700;
}

.alignLeft {
  text-align: left;
}